[Unit]
Description=Chainalysis takehome project served by Gunicorn
After=network.target

[Service]
User=dmoses
Group=www-data
WorkingDirectory=/home/dmoses/chainalysis-takehome
Environment="PATH=/home/dmoses/.local/bin"
ExecStart=/home/dmoses/.local/bin/gunicorn --workers 5 --bind 127.0.0.1:3000 wsgi:app

[Install]
WantedBy=multi-user-target
